

#dialog-box {
	
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	
	
	background:#eee;
	/* styling of the dialog box, i have a fixed dimension for this demo */ 
	width:500px; 
	
	/* make sure it has the highest z-index */
	position:absolute; 

	/* hide it by default */
	display:none;
}
#dialog-box .dialog-title {
    text-align:center;
    border-bottom: solid #666 1px;
    margin: 15px;
    padding-bottom: 15px;
	font-family:arial;
	font-size:20px; 
}

#dialog-box .dialog-content {
	/* style the content */
	text-align:left; 
	padding:10px; 
	margin:auto;
	color:#666; 
	font-family:arial;
    font-size:11px; 
    width: 70%;
}

a.button {
	/* styles for button */
	margin:10px auto 0 auto;
	text-align:center;
	display: block;
	width:50px;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	
	/* button color */
	background-color: #e33100;
	
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	
	/* text shaow */
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	
}

a.button:hover {
	background-color: #c33100;	
}

/* extra styling */
#dialog-box .dialog-content p {
	font-weight:700; margin:0;
}

#dialog-box .dialog-content ul {
	margin:10px 0 10px 20px; 
	padding:0; 
	height:50px;
}

input {
    width: 100%;
    margin: 10px auto;
    height: 25px;
}